.title {
  margin-top: 2rem;
  font-size: 1.5rem;
  margin-bottom: 1rem;
  font-weight: bold;
}
.task {
  display: flex;
  align-items: center;
  &:not(:last-child) {
    margin-bottom: 1rem;
  }
}
.taskCheckbox {
  flex: 0 0 10%;
  max-width: 10%;
  height: 1.2rem;
  cursor: pointer;
}
.taskName {
  flex: 0 0 70%;
  max-width: 70%;
  color: #383f50;
  font-size: 1.1rem;
  font-weight: 500;
  &.taskNameDone {
    color: #b2b7bb;
    text-decoration: line-through;
  }
}

.taskActions {
  flex: 0 0 20%;
  max-width: 20%;
  display: flex;
  column-gap: 15px;
}

.taskBtn {
  cursor: pointer;
  flex: 0 0 3.5rem;
  max-width: 2.5rem;
  font-size: 1.5rem;
  border-radius: 4px;
}
